[Desktop Entry]
Version=1.0
Name=Google Meet
Comment=Google Meet
Exec={{ browser_executable }} --app="https://meet.google.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/google-meet.png
StartupNotify=true
