---
- name: MacOS Workstation Playbook
  hosts: workstation
  pre_tasks:
    - name: Check if homebrew is installed
      ansible.builtin.stat:
        path: /opt/homebrew/bin
      register: homebrew

    - name: Install homebrew
      ansible.builtin.shell: >
        NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      register: homebrew_result
      changed_when: "'Installation successful!' in homebrew_result.stdout"
      when: not homebrew.stat.exists

    - name: Update homebrew
      community.general.homebrew:
        update_homebrew: true

    - name: Update homebrew packages
      community.general.homebrew:
        upgrade_all: true

    - name: Install mas
      community.general.homebrew:
        name: mas
        state: latest

    - name: Update mas apps
      become: true
      ansible.builtin.command: mas upgrade
      register: mas_result
      changed_when: mas_result.stdout != ""
  roles:
    - common/curl
    - common/dig
    - common/exfat
    - common/fx
    - common/ffmpeg
    - common/fzf
    - common/git
    - common/gitui
    - common/htop
    - common/jq
    - common/lfs
    - common/make
    - common/nmap
    - common/notify
    - common/unzip
    - common/wget
    - drivers/cpu
    - drivers/displaylink
    - drivers/fingerprint
    - drivers/gpu
    - drivers/logitech
    - platform/boot
    - platform/hid
    - platform/power
    - platform/screen
    - platform/clean
    - browsing/brave
    - browsing/chrome
    - browsing/firefox
    - communication/discord
    - communication/gmail
    - communication/meet
    - communication/signal
    - communication/slack
    - communication/whatsapp
    - development/code
    - development/docker
    - development/golang
    - development/node
    - development/packer
    - development/python
    - development/terraform
    - development/vagrant
    - development/aws
    - development/az
    - development/claude
    - development/codex
    - development/dive
    - development/gcp
    - development/github
    - development/graphviz
    - development/imager
    - development/ngrok
    - development/psql
    - development/pter
    - development/uv
    - media/easy-effects
    - media/eog
    - media/loom
    - media/music
    - media/snapshot
    - media/sound-recorder
    - media/spotify
    - media/totem
    - productivity/calculator
    - productivity/calendar
    - productivity/clocks
    - productivity/docs
    - productivity/drive
    - productivity/evince
    - productivity/granola
    - productivity/maps
    - productivity/sheets
    - productivity/slides
    - security/bitwarden
    - utilities/baobab
    - utilities/characters
    - utilities/disk-utility
    - utilities/font-viewer
    - utilities/system-monitor
    - utilities/text-editor
    - config/files
    - config/time
