---
- name: Linux Workstation Playbook
  hosts: workstation
  pre_tasks:
    - name: Add contrib and non-free repositories
      become: true
      ansible.builtin.lineinfile:
        path: /etc/apt/sources.list
        regexp: ^{{ item.regexp }}$
        line: "{{ item.line }}"
        state: present
      with_items:
        - regexp: 'deb\s+http://deb.debian.org/debian/.*trixie main non-free-firmware'
          line: "deb http://deb.debian.org/debian/ trixie main contrib non-free non-free-firmware"
        - regexp: 'deb-src\s+http://deb.debian.org/debian/.*trixie main non-free-firmware'
          line: "deb-src http://deb.debian.org/debian/ trixie main contrib non-free non-free-firmware"
        - regexp: 'deb\s+http://security.debian.org/debian-security.*trixie-security main non-free-firmware'
          line: "deb http://security.debian.org/debian-security trixie-security main contrib non-free non-free-firmware"
        - regexp: 'deb-src\s+http://security.debian.org/debian-security.*trixie-security main non-free-firmware'
          line: "deb-src http://security.debian.org/debian-security trixie-security main contrib non-free non-free-firmware"
        - regexp: 'deb\s+http://deb.debian.org/debian/.*trixie-updates main non-free-firmware'
          line: "deb http://deb.debian.org/debian/ trixie-updates main contrib non-free non-free-firmware"
        - regexp: 'deb-src\s+http://deb.debian.org/debian/.*trixie-updates main non-free-firmware'
          line: "deb-src http://deb.debian.org/debian/ trixie-updates main contrib non-free non-free-firmware"

    - name: Update & upgrade packages
      become: true
      ansible.builtin.apt:
        name: "*"
        update_cache: true
        state: latest
  roles:
    - common/curl
    - common/dig
    - common/exfat
    - common/ffmpeg
    - common/fzf
    - common/git
    - common/htop
    - common/jq
    - common/lfs
    - common/make
    - common/nmap
    - common/notify
    - common/unzip
    - common/wget
    - drivers/cpu
    - drivers/displaylink
    - drivers/fingerprint
    - drivers/gpu
    - drivers/logitech
    - platform/boot
    - platform/hid
    - platform/power
    - platform/screen
    - platform/clean
    - browsing/brave
    - browsing/chrome
    - browsing/firefox
    - communication/discord
    - communication/gmail
    - communication/meet
    - communication/signal
    - communication/slack
    - communication/whatsapp
    - development/code
    - development/docker
    - development/golang
    - development/node
    - development/packer
    - development/python
    - development/terraform
    - development/vagrant
    - development/aws
    - development/az
    - development/claude
    - development/codex
    - development/gcp
    - development/graphviz
    - development/imager
    - development/ngrok
    - development/psql
    - development/uv
    - media/eog
    - media/loom
    - media/music
    - media/snapshot
    - media/sound-recorder
    - media/spotify
    - media/totem
    - productivity/calculator
    - productivity/calendar
    - productivity/clocks
    - productivity/docs
    - productivity/drive
    - productivity/evince
    - productivity/granola
    - productivity/maps
    - productivity/sheets
    - productivity/slides
    - security/bitwarden
    - utilities/baobab
    - utilities/characters
    - utilities/disk-utility
    - utilities/font-viewer
    - utilities/system-monitor
    - utilities/text-editor
    - config/files
    - config/time
