---
- name: Linux Workstation Playbook
  hosts: workstation
  pre_tasks:
    - name: Update & upgrade packages
      become: true
      ansible.builtin.apt:
        name: "*"
        update_cache: true
        state: latest
  roles:
    - common/curl
    - common/dig
    - common/exfat
    - common/ffmpeg
    - common/git
    - common/htop
    - common/jq
    - common/lfs
    - common/make
    - common/nmap
    - common/notify
    - common/unzip
    - common/wget
    - drivers/cpu
    - drivers/displaylink
    - drivers/fingerprint
    - drivers/gpu
    - drivers/logitech
    - platform/boot
    - platform/hid
    - platform/power
    - platform/screen
    - platform/clean
    - browsing/brave
    - browsing/chrome
    - browsing/firefox
    - communication/discord
    - communication/gmail
    - communication/meet
    - communication/signal
    - communication/slack
    - communication/whatsapp
    - development/code
    - development/docker
    - development/golang
    - development/node
    - development/packer
    - development/python
    - development/terraform
    - development/vagrant
    - development/aws
    - development/az
    - development/claude
    - development/codex
    - development/gcp
    - development/graphviz
    - development/imager
    - development/ngrok
    - development/psql
    - development/uv
    - media/eog
    - media/loom
    - media/music
    - media/snapshot
    - media/sound-recorder
    - media/spotify
    - media/totem
    - productivity/calculator
    - productivity/calendar
    - productivity/clocks
    - productivity/docs
    - productivity/drive
    - productivity/evince
    - productivity/granola
    - productivity/maps
    - productivity/sheets
    - productivity/slides
    - security/bitwarden
    - config/files
    - config/time
