---
- name: Linux Workstation Playbook
  hosts: workstation
  pre_tasks:
    - name: Update & upgrade packages
      become: true
      ansible.builtin.apt:
        name: "*"
        update_cache: true
        state: latest
  roles:
    - common/curl
    - common/dig
    - common/exfat
    - common/ffmpeg
    - common/git
    - common/htop
    - common/jq
    - common/lfs
    - common/make
    - common/nmap
    - common/notify
    - common/unzip
    - common/wget
    - drivers/cpu
    - drivers/displaylink
    - drivers/gpu
    - drivers/logitech
    - browsing/brave
    - browsing/chrome
    - browsing/firefox
    - communication/discord
    - communication/signal
    - communication/slack
    - communication/whatsapp
    - media/spotify
    - platform/boot
    - platform/clean
    - platform/hid
    - platform/power
    - platform/screen
    - security/bitwarden
    - tools/aws
    - tools/az
    - tools/drive
    - tools/gcp
    - tools/granola
    - tools/graphviz
    - tools/imager
    - tools/loom
    - tools/ngrok
    - tools/psql
    - development/claude
    - development/code
    - development/codex
    - development/docker
    - development/golang
    - development/node
    - development/packer
    - development/python
    - development/terraform
    - development/uv
    - development/vagrant
    - config/files
    - config/time
