---
- name: Install vagrant (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add vagrant dependencies repository (linux)
      ansible.builtin.deb822_repository:
        name: virtualbox
        types: [deb]
        uris: [https://download.virtualbox.org/virtualbox/debian]
        suites: ["trixie"]
        components: [contrib]
        architectures: [amd64]
        signed_by: https://www.virtualbox.org/download/oracle_vbox_2016.asc
        state: present

    - name: Install vagrant dependencies (linux)
      ansible.builtin.apt:
        name: virtualbox-7.2
        update_cache: true
        state: present

    - name: Add vagrant repository (linux)
      ansible.builtin.deb822_repository:
        name: hashicorp
        types: [deb]
        uris: [https://apt.releases.hashicorp.com]
        suites: ["trixie"]
        components: [main]
        architectures: [amd64]
        signed_by: https://apt.releases.hashicorp.com/gpg
        state: present

    - name: Install vagrant (linux)
      ansible.builtin.apt:
        name: vagrant
        update_cache: true
        state: latest

- name: Install vagrant (macOS)
  when: ansible_distribution == 'MacOSX'
  block:
    - name: Add vagrant tap (macos)
      community.general.homebrew_tap:
        name: hashicorp/tap
        state: present

    - name: Install vagrant (macos)
      community.general.homebrew_cask:
        name: hashicorp/tap/hashicorp-vagrant
        install_options: appdir=/Applications
        state: latest
