---
- name: Setup screen (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Install gdm3 (linux)
      ansible.builtin.apt:
        name: gdm3
        state: latest

    - name: Enable gdm3 (linux)
      ansible.builtin.systemd:
        name: gdm3
        enabled: true

    - name: Set boot target to graphical (linux)
      ansible.builtin.file:
        src: /lib/systemd/system/graphical.target
        dest: /lib/systemd/system/default.target
        state: link
        force: true

    - name: Add regolith repository (linux)
      ansible.builtin.deb822_repository:
        name: regolith
        types: [deb]
        uris: [https://archive.regolith-desktop.com/debian/unstable]
        suites: [trixie]
        components: [main]
        architectures: [amd64]
        signed_by: https://archive.regolith-desktop.com/regolith.key
        state: present

    - name: Install regolith (linux)
      ansible.builtin.apt:
        name:
          - regolith-desktop
          - regolith-session-sway
          - regolith-compositor-picom-glx
          - regolith-look-nord
          - fonts-source-code-pro-ttf
        update_cache: true
        state: latest

    - name: Check regolith session (linux)
      ansible.builtin.stat:
        path: /usr/share/wayland-sessions/regolith-wayland.desktop
      register: session

    - name: Rename regolith session (linux)
      ansible.builtin.copy:
        src: /usr/share/wayland-sessions/regolith-wayland.desktop
        dest: /usr/share/wayland-sessions/regolith.desktop
        owner: root
        group: root
        mode: "0644"
        remote_src: true
      when: session.stat.exists

    - name: Modify regolith session (linux)
      ansible.builtin.lineinfile:
        path: /usr/share/wayland-sessions/regolith.desktop
        regexp: ^#?Name=
        line: Name=Regolith
        state: present

    - name: Find default sessions (linux)
      ansible.builtin.find:
        paths:
          - /usr/share/wayland-sessions
          - /usr/share/xsessions
        file_type: file
        excludes:
          - regolith.desktop
      register: sessions

    - name: Remove default sessions (linux)
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      with_items: "{{ sessions.files }}"

    - name: Download gtklock theme install script (linux)
      ansible.builtin.unarchive:
        src: https://github.com/tomdewildt/gnome-gtklock-theme/archive/v0.1.0.zip
        dest: /tmp
        remote_src: true
        creates: /tmp/gnome-gtklock-theme-0.1.0

    - name: Install gtklock theme (linux)
      community.general.make:
        chdir: /tmp/gnome-gtklock-theme-0.1.0
        file: Makefile
        target: install
      become: false # Install for local user
      changed_when: false

    - name: Configure gtklock (linux)
      ansible.builtin.copy:
        src: gtklock/gtklock
        dest: /etc/pam.d/gtklock
        owner: root
        group: root
        mode: "0644"

    - name: Ensure regolith config folder exists (linux)
      ansible.builtin.file:
        path: /home/{{ ansible_user }}/.config/regolith3
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0755"
        state: directory

    - name: Install fonts (linux)
      ansible.builtin.apt:
        name:
          - fonts-noto
          - fonts-recommended
        state: latest

    - name: Copy background (linux)
      ansible.builtin.copy:
        src: backgrounds/nord.png
        dest: /home/{{ ansible_user }}/Pictures/Backgrounds/
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0644"
        directory_mode: "0775"

    - name: Set background (linux)
      ansible.builtin.lineinfile:
        path: /home/{{ ansible_user }}/.config/regolith3/Xresources
        regexp: "^regolith.wallpaper.file:"
        line: "regolith.wallpaper.file: /home/{{ ansible_user }}/Pictures/Backgrounds/nord.png"
        create: true
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0644"
        state: present

- name: Configure screen (macos)
  when: ansible_distribution == 'MacOSX'
  block:
    - name: Install yabai (macos)
      community.general.homebrew:
        name: asmvik/formulae/yabai
        state: latest

    - name: Install skhd (macos)
      community.general.homebrew:
        name: asmvik/formulae/skhd
        state: latest

    - name: Configure dock (macos)
      community.general.osx_defaults:
        domain: "{{ item.domain }}"
        key: "{{ item.key }}"
        type: "{{ item.type }}"
        value: "{{ item.value }}"
        state: present
      with_items:
        # Automatically hide
        - domain: "com.apple.dock"
          key: "autohide"
          type: "bool"
          value: "true"
        # Disable magnification
        - domain: "com.apple.dock"
          key: "magnification"
          type: "bool"
          value: "false"
        # Disable recent applications
        - domain: "com.apple.dock"
          key: "show-recents"
          type: "bool"
          value: "false"
        # Set animation speed to 0.25
        - domain: "com.apple.dock"
          key: "autohide-time-modifier"
          type: "float"
          value: "0.25"
        # Set size to 50
        - domain: "com.apple.dock"
          key: "tilesize"
          type: "float"
          value: "50"
        # Set orientation to left
        - domain: "com.apple.dock"
          key: "orientation"
          type: "string"
          value: "left"
        # Disable hot corners
        - domain: "com.apple.dock"
          key: "wvous-tl-corner"
          type: "int"
          value: "0"
        - domain: "com.apple.dock"
          key: "wvous-tl-modifier"
          type: "int"
          value: "0"
        - domain: "com.apple.dock"
          key: "wvous-tr-corner"
          type: "int"
          value: "0"
        - domain: "com.apple.dock"
          key: "wvous-tr-modifier"
          type: "int"
          value: "0"
        - domain: "com.apple.dock"
          key: "wvous-bl-corner"
          type: "int"
          value: "0"
        - domain: "com.apple.dock"
          key: "wvous-bl-modifier"
          type: "int"
          value: "0"
        - domain: "com.apple.dock"
          key: "wvous-br-corner"
          type: "int"
          value: "0"
        - domain: "com.apple.dock"
          key: "wvous-br-modifier"
          type: "int"
          value: "0"

    - name: Configure finder (macos)
      community.general.osx_defaults:
        domain: "{{ item.domain }}"
        key: "{{ item.key }}"
        type: "{{ item.type }}"
        value: "{{ item.value }}"
        state: present
      with_items:
        # Do not write .DS_Store files to network volumes
        - domain: "com.apple.desktopservices"
          key: "DSDontWriteNetworkStores"
          type: "bool"
          value: "true"
        # Show hard drives, external hard drives, removable media, and network volumes on the desktop
        - domain: "com.apple.finder"
          key: "ShowHardDrivesOnDesktop"
          type: "bool"
          value: "true"
        - domain: "com.apple.finder"
          key: "ShowExternalHardDrivesOnDesktop"
          type: "bool"
          value: "true"
        - domain: "com.apple.finder"
          key: "ShowRemovableMediaOnDesktop"
          type: "bool"
          value: "true"
        - domain: "com.apple.finder"
          key: "ShowMountedServersOnDesktop"
          type: "bool"
          value: "true"
        # Show the path bar
        - domain: "com.apple.finder"
          key: "ShowPathbar"
          type: "bool"
          value: "true"
        # Show file extensions
        - domain: "NSGlobalDomain"
          key: "AppleShowAllExtensions"
          type: "bool"
          value: "true"
        # Search current folder
        - domain: "com.apple.finder"
          key: "FXDefaultSearchScope"
          type: "string"
          value: "SCcf"
        # Save to disk by default
        - domain: "NSGlobalDomain"
          key: "NSDocumentSaveNewDocumentsToCloud"
          type: "bool"
          value: "false"

    - name: Configure menu (macos)
      community.general.osx_defaults:
        domain: "{{ item.domain }}"
        key: "{{ item.key }}"
        type: "{{ item.type }}"
        value: "{{ item.value }}"
        state: present
      with_items:
        # Show wifi in menu bar
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem VisibleCC WiFi"
          type: "bool"
          value: "true"
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem Preferred Position WiFi"
          type: "float"
          value: "267"
        # Show bluetooth in menu bar
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem VisibleCC Bluetooth"
          type: "bool"
          value: "true"
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem Preferred Position Bluetooth"
          type: "float"
          value: "414"
        # Show audio in menu bar
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem VisibleCC Sound"
          type: "bool"
          value: "true"
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem Preferred Position Sound"
          type: "float"
          value: "446"
        # Show battery in menu bar
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem VisibleCC Battery"
          type: "bool"
          value: "true"
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem Preferred Position Battery"
          type: "float"
          value: "305"
        # Show user icon in menu bar
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem VisibleCC UserSwitcher"
          type: "bool"
          value: "true"
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem Preferred Position UserSwitcher"
          type: "float"
          value: "381"
        # Show spotlight in menu bar
        - domain: "com.apple.controlcenter"
          key: "NSStatusItem VisibleCC Spotlight"
          type: "bool"
          value: "true"
        # Always show date in menu bar
        - domain: "com.apple.menuextra.clock"
          key: "ShowDate"
          type: "int"
          value: "1"
        # Show seconds in menu bar
        - domain: "com.apple.menuextra.clock"
          key: "ShowSeconds"
          type: "bool"
          value: "true"

    - name: Configure panels (macos)
      community.general.osx_defaults:
        domain: "{{ item.domain }}"
        key: "{{ item.key }}"
        type: "{{ item.type }}"
        value: "{{ item.value }}"
        state: present
      with_items:
        # Expand save panel by default
        - domain: "NSGlobalDomain"
          key: "NSNavPanelExpandedStateForSaveMode"
          type: "bool"
          value: "true"
        # Expand print panel by default
        - domain: "NSGlobalDomain"
          key: "PMPrintingExpandedStateForPrint"
          type: "bool"
          value: "true"
        # Automatically quit printer app once the print jobs complete
        - domain: "com.apple.print.PrintingPrefs"
          key: "Quit When Finished"
          type: "bool"
          value: "true"

    - name: Configure terminal (macos)
      community.general.homebrew:
        name: zsh-completions
        state: latest
