---
- name: Install docker (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add docker repository (linux)
      ansible.builtin.deb822_repository:
        name: docker
        types: [deb]
        uris: [https://download.docker.com/linux/debian]
        suites: [trixie]
        components: [stable]
        architectures: [amd64]
        signed_by: https://download.docker.com/linux/debian/gpg
        state: present

    - name: Install docker (linux)
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        update_cache: true
        state: latest

    - name: Add user to docker group (linux)
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups:
          - docker
        append: true

- name: Install docker (macos)
  when: ansible_distribution == 'MacOSX'
  block:
    - name: Install docker dependencies (macos)
      ansible.builtin.command: softwareupdate --install-rosetta --agree-to-license
      changed_when: false

    - name: Install docker (macos)
      community.general.homebrew_cask:
        name: docker
        install_options: appdir=/Applications
        state: latest
