---
- name: Install notify (linux)
  become: true
  ansible.builtin.apt:
    name: libnotify-bin
    state: latest
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Install notify (macos)
  community.general.homebrew:
    name: terminal-notifier
    state: latest
  when: ansible_distribution == 'MacOSX'
