---
- name: Install spotify (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add spotify repository (linux)
      ansible.builtin.deb822_repository:
        name: spotify
        types: [deb]
        uris: [http://repository.spotify.com]
        suites: [stable]
        components: [non-free]
        architectures: [amd64]
        signed_by: https://download.spotify.com/debian/pubkey_C85668DF69375001.gpg
        state: present

    - name: Install spotify (linux)
      ansible.builtin.apt:
        name: spotify-client
        update_cache: true
        state: latest

    - name: Remove spotify generated repository (linux)
      ansible.builtin.file:
        path: /etc/apt/sources.list.d/spotify.list
        state: absent

- name: Install spotify (macos)
  community.general.homebrew_cask:
    name: spotify
    install_options: appdir=/Applications
    state: latest
  when: ansible_distribution == 'MacOSX'
