---
- name: Install gitui (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Get gitui release (linux)
      ansible.builtin.uri:
        url: https://api.github.com/repos/gitui-org/gitui/releases/latest
        return_content: true
      register: gitui_release

    - name: Install gitui (linux)
      ansible.builtin.unarchive:
        src: https://github.com/gitui-org/gitui/releases/download/{{ gitui_release.json.tag_name }}/gitui-linux-x86_64.tar.gz
        dest: /usr/local/bin
        mode: "0755"
        remote_src: true

- name: Install gitui (macos)
  community.general.homebrew:
    name: gitui
    state: latest
  when: ansible_distribution == 'MacOSX'
