---
- name: Install terraform (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add terraform repository (linux)
      ansible.builtin.deb822_repository:
        name: hashicorp
        types: [deb]
        uris: [https://apt.releases.hashicorp.com]
        suites: ["trixie"]
        components: [main]
        architectures: [amd64]
        signed_by: https://apt.releases.hashicorp.com/gpg
        state: present

    - name: Install terraform (linux)
      ansible.builtin.apt:
        name: terraform
        update_cache: true
        state: latest

- name: Install terraform (macOS)
  when: ansible_distribution == 'MacOSX'
  block:
    - name: Add terraform tap (macos)
      community.general.homebrew_tap:
        name: hashicorp/tap
        state: present

    - name: Install terraform (macos)
      community.general.homebrew:
        name: hashicorp/tap/terraform
        state: latest
