[Desktop Entry]
Version=1.0
Type=Application
Name=Weka
GenericName=Machine Learning Workbench
Comment=The workbench for machine learning
TryExec=weka
Exec=weka
Icon=weka
Categories=Utility;Development;IDE;
