[Desktop Entry]
Version=1.0
Name=Google Slides
Comment=Google Slides
Exec={{ browser_executable }} --app="https://slides.google.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/google-slides.png
StartupNotify=true
