---
- name: Install easy effects (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Install easy effects (linux)
      ansible.builtin.apt:
        name: easyeffects
        state: latest

    - name: Ensure service directory exists (linux)
      ansible.builtin.file:
        path: /home/{{ ansible_user }}/.config/systemd/user
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0755"
        state: directory

    - name: Add easy effects service (linux)
      ansible.builtin.copy:
        src: easy-effects/easyeffects.service
        dest: /home/{{ ansible_user }}/.config/systemd/user/easyeffects.service
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0644"

    - name: Restart easy effects service (linux)
      ansible.builtin.systemd:
        name: easyeffects.service
        scope: user
        state: restarted
        enabled: true
      become: true
      become_user: "{{ ansible_user }}"
