---
- name: Install code (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add code repository (linux)
      ansible.builtin.deb822_repository:
        name: vscode
        types: [deb]
        uris: [https://packages.microsoft.com/repos/vscode]
        suites: [stable]
        components: [main]
        architectures: [amd64]
        signed_by: https://packages.microsoft.com/keys/microsoft.asc
        state: present

    - name: Install code (linux)
      ansible.builtin.apt:
        name: code
        update_cache: true
        state: latest

- name: Install code (macos)
  community.general.homebrew_cask:
    name: visual-studio-code
    install_options: appdir=/Applications
    state: latest
  when: ansible_distribution == 'MacOSX'

- name: Find code extensions (linux/macos)
  ansible.builtin.command: code --list-extensions
  register: extensions
  changed_when: false

- name: Install code extensions (linux/macos)
  ansible.builtin.command: code --install-extension {{ item }}
  environment:
    PATH: "/opt/homebrew/bin:{{ ansible_env.PATH }}"
  changed_when: "'successfully' in extension_result.stdout"
  register: extension_result
  when: item not in extensions.stdout
  with_items: "{{ code.extensions }}"
