[Desktop Entry]
Version=1.0
Name=Google Maps
Comment=Google Maps
Exec={{ browser_executable }} --app="https://maps.google.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/google-maps.png
StartupNotify=true
