[Desktop Entry]
Version=1.0
Name=Google Docs
Comment=Google Docs
Exec={{ browser_executable }} --app="https://docs.google.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/google-docs.png
StartupNotify=true
