---
- name: Install slack (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add slack repository (linux)
      ansible.builtin.deb822_repository:
        name: slack
        types: [deb]
        uris: [https://packagecloud.io/slacktechnologies/slack/debian/]
        suites: [jessie]
        components: [main]
        architectures: [amd64]
        signed_by: https://packagecloud.io/slacktechnologies/slack/gpgkey
        state: present

    - name: Install slack (linux)
      ansible.builtin.apt:
        name: slack-desktop
        update_cache: true
        state: latest

- name: Install slack (macos)
  community.general.homebrew_cask:
    name: slack
    install_options: appdir=/Applications
    state: latest
  when: ansible_distribution == 'MacOSX'
