[Desktop Entry]
Version=1.0
Name=Google Calendar
Comment=Google Calendar
Exec={{ browser_executable }} --app="https://calendar.google.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/google-calendar.png
StartupNotify=true
