---
- name: Install packer (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Install packer dependencies (linux)
      ansible.builtin.apt:
        name: qemu-user-static
        update_cache: true
        state: latest

    - name: Add packer repository (linux)
      ansible.builtin.deb822_repository:
        name: hashicorp
        types: [deb]
        uris: [https://apt.releases.hashicorp.com]
        suites: ["trixie"]
        components: [main]
        architectures: [amd64]
        signed_by: https://apt.releases.hashicorp.com/gpg
        state: present

    - name: Install packer (linux)
      ansible.builtin.apt:
        name: packer
        update_cache: true
        state: latest

- name: Install packer (macOS)
  when: ansible_distribution == 'MacOSX'
  block:
    - name: Add packer tap (macos)
      community.general.homebrew_tap:
        name: hashicorp/tap
        state: present

    - name: Install packer (macos)
      community.general.homebrew:
        name: hashicorp/tap/packer
        state: latest
