---
- name: Install signal (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add signal repository (linux)
      ansible.builtin.deb822_repository:
        name: signal
        types: [deb]
        uris: [https://updates.signal.org/desktop/apt]
        suites: [xenial]
        components: [main]
        architectures: [amd64]
        signed_by: https://updates.signal.org/desktop/apt/keys.asc
        state: present

    - name: Install signal (linux)
      ansible.builtin.apt:
        name: signal-desktop
        update_cache: true
        state: latest

- name: Install signal (macos)
  community.general.homebrew_cask:
    name: signal
    install_options: appdir=/Applications
    state: latest
  when: ansible_distribution == 'MacOSX'
