---
- name: Install chrome (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add chrome repository (linux)
      ansible.builtin.deb822_repository:
        name: google-chrome
        types: [deb]
        uris: [http://dl.google.com/linux/chrome/deb/]
        suites: [stable]
        components: [main]
        architectures: [amd64]
        signed_by: https://dl-ssl.google.com/linux/linux_signing_key.pub
        state: present

    - name: Install chrome (linux)
      ansible.builtin.apt:
        name: google-chrome-stable
        update_cache: true
        state: latest

    - name: Remove chrome generated repository (linux)
      ansible.builtin.file:
        path: /etc/apt/sources.list.d/google-chrome.list
        state: absent

- name: Install chrome (macos)
  community.general.homebrew_cask:
    name: google-chrome
    install_options: appdir=/Applications
    state: latest
  when: ansible_distribution == 'MacOSX'
