---
- name: Install git (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Install git (linux)
      ansible.builtin.apt:
        name: git
        state: latest

    - name: Install gitui (linux)
      ansible.builtin.unarchive:
        src: https://github.com/gitui-org/gitui/releases/download/v0.28.0/gitui-linux-x86_64.tar.gz
        dest: /usr/local/bin
        mode: "0755"
        remote_src: true

- name: Install git (macos)
  when: ansible_distribution == 'MacOSX'
  block:
    - name: Install git (macos)
      community.general.homebrew:
        name: git
        state: latest

    - name: Install gitui (macos)
      community.general.homebrew:
        name: gitui
        state: latest
