[Desktop Entry]
Version=1.0
Name=Google Drive
Comment=Google Drive
Exec={{ browser_executable }} --app="https://drive.google.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/google-drive.png
StartupNotify=true
