---
- name: Install lfs (linux)
  become: true
  ansible.builtin.apt:
    name: git-lfs
    state: latest
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Install lfs (macos)
  community.general.homebrew:
    name: git-lfs
    state: latest
  when: ansible_distribution == 'MacOSX'
