---
- name: Install whatsapp (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Read browser desktop file (linux)
      ansible.builtin.slurp:
        src: /usr/share/applications/{{ browser.default }}.desktop
      register: browser_file

    - name: Extract browser executable (linux)
      ansible.builtin.set_fact:
        browser_executable: "{{ browser_file.content | b64decode | regex_search('^Exec=([^ ]*).*', '\\1', multiline=True) | first }}"

    - name: Ensure icons folder exists (linux)
      ansible.builtin.file:
        path: /usr/share/applications/icons
        state: directory
        mode: "0755"

    - name: Download whatsapp icon (linux)
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/whatsapp.png
        dest: /usr/share/applications/icons/whatsapp.png
        owner: root
        group: root
        mode: "0644"

    - name: Copy whatsapp desktop file (linux)
      ansible.builtin.template:
        src: templates/whatsapp/whatsapp.desktop.j2
        dest: /usr/share/applications/whatsapp.desktop
        owner: root
        group: root
        mode: "0644"

- name: Install whatsapp (macos)
  ansible.builtin.command: mas install 310633997
  register: whatsapp_result
  changed_when: whatsapp_result.stdout != "" and "is already installed" not in whatsapp_result.stdout
  when: ansible_distribution == 'MacOSX'
