---
- name: Install node (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Add node repository (linux)
      ansible.builtin.deb822_repository:
        name: nodesource
        types: [deb]
        uris: ["https://deb.nodesource.com/node_{{ node.version }}"]
        suites: ["nodistro"]
        components: [main]
        architectures: [amd64]
        signed_by: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
        state: present

    - name: Install node (linux)
      ansible.builtin.apt:
        name: nodejs
        update_cache: true
        state: latest

- name: Install node (macos)
  community.general.homebrew:
    name: node@{{ node.version.split('.')[0] }}
    state: latest
  when: ansible_distribution == 'MacOSX'

- name: Install node packages (linux/macos)
  become: true
  community.general.npm:
    name: "{{ item }}"
    unsafe_perm: true
    global: true
    state: latest
  environment:
    PATH: "/opt/homebrew/opt/node@{{ node.version.split('.')[0] }}/bin:{{ ansible_env.PATH }}"
  with_items: "{{ node.packages }}"
