[Desktop Entry]
Version=1.0
Name=Microsoft Teams
Comment=Microsoft Teams
Exec={{ browser_executable }} --app="https://teams.microsoft.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/teams.png
StartupNotify=true
