[Desktop Entry]
Version=1.0
Name=WhatsApp Web
Comment=WhatsApp Web
Exec={{ browser_executable }} --app="https://web.whatsapp.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/whatsapp.png
StartupNotify=true
