[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Gmail
Exec={{ browser_executable }} --app="https://gmail.google.com/"
Terminal=false
Type=Application
Icon=/usr/share/applications/icons/gmail.png
StartupNotify=true
