---
- name: Install gpu driver (linux)
  become: true
  ansible.builtin.apt:
    name:
      - firmware-amd-graphics
      - libgl1-mesa-dri
      - libglx-mesa0
      - mesa-vulkan-drivers
      - radeontop
    state: latest
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
