---
- name: Clean applications (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Remove applications (linux)
      ansible.builtin.apt:
        name:
          - foot
          - zathura
          - zutty
        state: absent

    - name: Hide applications (linux)
      ansible.builtin.lineinfile:
        path: /usr/share/applications/{{ item }}
        line: NoDisplay=true
        owner: root
        group: root
        mode: "0644"
        state: present
        create: true
      with_items:
        - org.gnome.Settings.desktop
        - htop.desktop
        - picom.desktop
        - regolith-wayland.desktop

    - name: Rename applications (linux)
      ansible.builtin.lineinfile:
        path: /usr/share/applications/org.regolith.Settings.desktop
        regexp: ^#?Icon=
        line: Icon=org.gnome.Settings
        state: present

- name: Clean applications (macos)
  when: ansible_distribution == 'MacOSX'
  block:
    - name: List applications (macos)
      ansible.builtin.command: mas list
      register: mas_list
      changed_when: false

    - name: Remove applications (macos)
      ansible.builtin.command: mas uninstall "{{ item }}"
      become: true
      with_items:
        - "682658836" # GarageBand
        - "408981434" # iMovie
        - "409183694" # Keynote
        - "409203825" # Numbers
        - "409201541" # Pages
      register: mas_result
      changed_when: '"Deleted" in mas_result.stdout'
      when: item in mas_list.stdout
