name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup ansible
        run: ansible-galaxy install -r requirements.yml
      - name: Run lint
        uses: ansible/ansible-lint@v25.12.1
