---
- name: Install claude (linux)
  become: true
  community.general.npm:
    name: "@anthropic-ai/claude-code"
    unsafe_perm: true
    global: true
    state: latest
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Install claude (macos)
  become: true
  community.general.npm:
    name: "@anthropic-ai/claude-code"
    unsafe_perm: true
    global: true
    state: latest
  environment:
    PATH: "/opt/homebrew/opt/node@{{ node.version.split('.')[0] }}/bin:{{ ansible_env.PATH }}"
  when: ansible_distribution == 'MacOSX'
