---
- name: Setup power (linux)
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  block:
    - name: Install power profiles daemon (linux)
      ansible.builtin.apt:
        name: power-profiles-daemon
        state: latest

    - name: Install powertop (linux)
      ansible.builtin.apt:
        name: powertop
        state: latest
